* {
    box-sizing: border-box;;
    transition: 0.5s;
}
body {
    font-family: 'Italiana', serif;
    font-size: 20px;
    margin: 0;
}
a {
    font-style: inherit;
}

main {
    width: 900px;
    margin: 0 auto;

}
.congrats {
    width: 300px;
    margin: 0 auto;
    font-size: 2rem;
}
.form_container {
    background-color: #E9E1C2;
    width: 90%;
    border-radius: 10px;
}
.portfolio_cms {
    background-color: #E9E1C2;
    width: 100%;
    border-radius: 10px;
}
._50_50_ {
    width: 45%;
    margin: 1%;
    display: inline-block;
    background-color: #4b3341;
}
._50_50_display {
    width: 45%;
    margin: 1%;
    display: inline-block;
    float: right;
}
.portfolio_button {
    height: 250px;
    width: 250px;
    border: #4b3341 solid 2px;
    text-align: center;
    display: block;
    border-radius: 10px;
    margin: 3px;
    font-family: 'Stalemate', cursive;
}