.form {
    padding: 30px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #E9E1C2;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}