* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*transition: 0.8s;*/
}

a {
    color: inherit;
    text-decoration: inherit;
}

h3 {
    font-size: 2rem;
    margin: 0 0 10px;
}

p {
    margin-top: 5px;
}

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Italiana', serif;
    color: #e9e1c2;
    /*background-color: #e9e1c2;*/
    height: auto;
}

section {
    height: auto;
}

nav {
    position: sticky;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    border-bottom: solid 2px #4b3341;
    background-color: #e9e1c2;
    z-index: 5;
}

.nav_container {
    color: #8d7e55;
    overflow: auto;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    transition: 0.8s;
}

.burger_selector {
    height: 65px;
    display: none;
    margin-left: 105px;
}

.burger_container {
    position: absolute;
    right: 10px;
}

.drop_down {
    height: 200px;
    width: 100px;
    background-color: #4B3341;
    color: #e9e1c2;
    display: none;
    position: relative;
    top: 25px;
    left: 100px;
    opacity: 0.9;

}

.logo_name {
    font-size: 1.25rem;
    float: left;
    margin-top: 25px;
}

.logo {
    position: absolute;
    left: 10px;
    top: 90px;
    height: 125px;

    /*min-width: 125px;*/
    /*min-height: 125px;*/
}

.nav_links {
    float: right;
  }

nav .buttons {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    margin-top: 12px;
}

#about {
    padding-top: 30px;
    background-color: #4b3341;
    transition: 0.8s;
    overflow: hidden;
}

.buttons {
    text-align: center;
    padding: 12px 5px;
    border-radius: 7px;
    overflow: auto;
    border: 2px solid transparent;
}

.home_page {
    background: url("img/BackgroundHome.jpg") no-repeat center center;
    background-size: cover;
    height: 786px;
    padding-top: 200px;
    padding-bottom: 200px;
    transition: 0.8s;
}

.home_container {
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;

    /*min-width: 380px;*/
}

.body_container {
    width: 80%;
    margin-left: 135px;
    margin-right: 0;
    min-width: 380px;
}

.buttons:hover {
    border-color: #4b3341;
    background-color: rgba(75,51,65,0.34);
}

.hero_statement {
    font-size: 3rem;
    font-family: 'Stalemate', cursive;
    text-align: center;
    width: 430px;
    margin: 0 auto;
    border-radius: 10px;
    color: #1b222b;
    background-color: rgba(255,255,255,0.50);
    padding-top: 35px;
    padding-bottom: 35px;
    transition: 1.2s;

}

.hero_statement h2 {
    margin: 0;
}

.hero_statement p {
    margin: 0;
}

.home_page .buttons {
    font-family: 'Italiana', serif;
    width: 40vw;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 20px;
    font-size: 2.5rem;
    color: #e9e1c2;
    transition: 0.8s;
}

.col70_col30 {
    width: 80%;
    height: 100%;
    display: inline-block;
    overflow: auto
}

.col70_col30 h2 {
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.col70_col30 h3 {
    font-family: 'Stalemate', cursive;
}

.col30_col70 {
    width: 19%;
    height: 100%;
    display: inline-block;
    overflow: auto;
    padding-top: 15px;
}

.col30_col70 img {
    border-radius: 10px;
}

.col30_col70 img {
    height: 300px;
    margin-left: 15px;
    float: right;
}

.coding_langs {
    overflow: auto;
}

section .body_container {
    padding-top: 30px;
}


#portfolioId {
    background-color: #9bbab0;
    height: auto;
    padding: 100px 135px;
    transition: 0.8s;
}

.portfolio_title {
    font-family: 'Stalemate', cursive;
    font-size: 5rem;
    width: 200px;
    margin: 0 auto;
}

.portfolio_container {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
}

.portfolio_button {
    height: 250px;
    width: 250px;
    border: #4b3341 solid 2px;
    text-align: center;
    float: left;
    border-radius: 10px;
    position: relative;
    margin: 3px;
    font-family: 'Stalemate', cursive;
    z-index: 3;
}

.portfolio_button a {
    color: #9bbab0;
}

.portfolio_button p {
    font-size: 1.17rem;
    color: #4b3341;
    margin-top: 50px;
}

.portfolio_button:hover {
    background-color: #4b3341;
}

.portfolio_button:hover a {
    opacity: 1;
}

.portfolio_button:hover p {
    visibility: hidden;
    transition: 0.4s;
}

footer {
    height: 200px;
    background-color: #1b222b;
    padding-top: 75px;
}
.footer_text_container {
    width: 380px;
    margin: 0 auto;
}
.footer_text_container h3 {
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
}

@media screen and (max-width: 1080px) {
    .portfolio_container {
        width: 650px;
        transition: 0.8s;
    }

    .portfolio_button {
        height: 200px;
        width: 200px;
        transition: 0.8s;
    }
}

@media screen and (max-width: 935px) {
    .portfolio_title {
        font-size: 5rem;
        width: 200px;
        margin: 0 auto;
        transition: 0.8s;
    }

    .portfolio_container {
        width: 520px;
        transition: 0.8s;
    }

    .portfolio_button {
        height: 250px;
        width: 250px;
        transition: 0.8s;
    }
}
@media screen and (max-width: 800px) {
    .portfolio_button {
        height: 175px;
        width: 95%;
        transition: 0.8s;
    }
    .portfolio_container {
        width: 400px;
        transition: 0.8s;
    }

    #portfolioId {

        padding-right: 10%;
        padding-left: 10%;
        transition: 0.8s;

    }
}
@media screen and (max-width: 500px) {
    .portfolio_button {
        height: 150px;
        width: 95%;
        transition: 0.8s;
    }
    .portfolio_container {
        width: 300px;
        transition: 0.8s;
    }

    #portfolioId {
        height: auto;
        padding-right: 8%;
        padding-left: 8%;
        transition: 0.8s;
    }
}

@media screen and (max-width: 790px) {
    .col70_col30 {
        width: 100%;
        padding-right: 10px;
    }

    .col30_col70 {
        display: none;
    }

}

@media screen and (max-width: 720px) {
    nav {
        height: 110px;
    }

    .nav_container {
        display: none;
    }

    .logo_name {
        display: none;
    }

    .burger_selector {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        margin-right: 30px;
    }

    .logo {
        position: static;
        float: left;
        height: 85px;
        margin-top: 5px;
        margin-left: 25px;
        transition: 0.8s;
    }

    .hero_statement {
        font-size: 2.5rem;
        width: 330px;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: 0.8s;
    }

    .hero_statement h2 {
        margin: 0;
        font-size: 3rem;
        transition: 0.8s;
    }

    .home_page .buttons {
        width: 45vw;
        font-size: 2rem;
        transition: 0.8s;
    }

    .col70_col30 {
        width: 100%;
        padding-right: 10px;
    }

    .body_container {
        width: 100vw;
        margin: 0 auto;
        /*min-width: 320px;*/
        padding-left: 20px;
        padding-right: 20px;
        transition: 0.8s;
    }

}

@media screen and (max-width: 490px) {

    .hero_statement {
        font-size: 2.25rem;
        width: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.8s;
    }

    .hero_statement h2 {
        margin: 0;
        font-size: 2.6rem;
        transition: 0.8s;
    }

    .home_page .buttons {
        /*width: 45vw;*/
        font-size: 1.5rem;
        transition: 0.8s;
    }

    .home_container {
        margin-left: 5vw;
        margin-right: 5vw;
        /*min-width: 380px;*/
        transition: 0.8s;
    }
    #about {
        padding-top: 40px;
    }

    .col70_col30 h3 {
        font-size: 1.5rem;
    }
    .col70_col30 h2 {
        font-size: 1.4rem;
    }
    .col70_col30 p {
        font-size: 1rem;
    }
}

