* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #aca9a5;
}
nav {
    position: fixed;
    /*overflow: auto;*/
    width: 100%;
    border-bottom: solid #4b3341 2px;
}
.nav_container {
    color: #8d7e55;
    overflow: auto;
    margin: 0 auto;
    width: 95%;
    /*height: 1em;*/
    padding: 20px;

    font-size: 100%;
    overflow: auto;
}
.burgerselector {
    /*Currently an ugly button, I know right But this will change for sure yo*/
    height: 85px;
    width: 85px;
    display: none;
}
.logo_name {
    font-size: 1.15rem;
    float: left;
    margin-top: 25px;
}
.logo {
    position: absolute;
    left: 20px;
    top: 110px;
    height: 8vw;
    width: 8vw;
    min-width: 125px;
    min-height: 125px;
}
.nav_links {
    float: right;
  }
.nav_buttons {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 2px solid #4b3341;
    padding: 12px 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 12px;
    overflow: auto;
}
.home_page {
    background-image: url("BackgroundHome.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.bodycontainer {
    width: 90vw;
    margin: 0 auto;
    min-width: 600px;

}
.home_page .bodycontainer {
    padding-top: 100px;
}
@media screen and (max-width: 790px) {
    nav {
        height: 140px;
    }

    .nav_container {
        display: none;
    }
    .logo_name {
        display: none;

    }
    .burgerselector {
        display: inline-block;
        float: right;
        margin-top: 30px;
        margin-right: 30px;
    }
    .logo {
        position: static;
        float: left;
    }
}